.carousel {
  z-index: 0;
  width: 100%;
  display: flex;
}

.carousel > div {
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
  animation: carousel 20s linear infinite backwards;
}

.react_icons {
  color: hsl(120, 70%, 29%);
  width: 7rem;
  height: 7rem;
}

.carousel p {
  color: hsl(120, 70%, 29%);
  font-size: 1rem;
}

@keyframes carousel {
  from {
    position: relative;
    left: 0;
  }
  to {
    position: relative;
    left: -98rem;
  }
}
