.container {
  width: 100%;
  height: calc(100vh - 4.6rem);
  padding-block-start: 4.6rem;
  background-color: hsl(223, 54%, 78%);
  display: flex;
  justify-content: flex-start;
  scroll-snap-align: center;
  position: relative;
}

.about {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.about > div {
  margin-inline-end: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.container > div {
  width: 80%;
}

/* .about p::selection,
.about h1::selection {
  color: hsl(69, 61%, 75%);
  background-color: hsl(120, 70%, 29%);
} */

.about_icons {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 12px;
}

.about_icons img {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 100;
  overflow: hidden;
}

.open,
.close {
  line-height: 0;
  margin: 0;
  position: absolute;
  font-size: 16rem;
  transform: rotate(30deg);
}

.open {
  top: 12rem;
  left: 1rem;
}

.close {
  z-index: 200;
  bottom: 8rem;
  right: 1rem;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    scroll-snap-align: start;
    padding-block-end: 1rem;
  }

  .about > div {
    border-radius: 40px;
    margin: 0;
    width: 100%;
  }

  .about_icons {
    display: none;
  }
}
