.container {
  background-color: hsl(249, 61%, 75%);
  background-image: url(../../assets/images/desk.jpg);
  background-size: cover;
  background-blend-mode: luminosity;
  width: 100%;
  height: calc(100vh - 4.6rem);
  padding-block-start: 4.6rem;
  display: flex;
  justify-content: flex-end;
  scroll-snap-align: center;
}

.splash {
  display: flex;
  align-items: center;
}

.container > div {
  width: 50%;
}

.splash > div {
  margin-inline-start: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media only screen and (max-width: 576) {
  .container > div {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .void {
    display: none;
  }

  .container {
    padding-block-end: 1rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    padding-block-start: 6rem;
    padding-block-end: 3rem;
  }

  .container > div {
    width: 80%;
    text-align: center;
  }

  .splash > div {
    border-radius: 40px;
    margin: 0;
  }
}
