.splash {
  background-color: hsl(249, 61%, 75%);
  background-image: url(../../assets/images/desk.jpg);
  background-size: cover;
  background-blend-mode: luminosity;
  width: 100vw;
  height: calc(100vh - 4.6rem);
  padding-block-start: 4.6rem;
  display: flex;
  justify-content: flex-end;
  scroll-snap-align: center;
}

.container {
  display: flex;
  align-items: center;
}

.splash > div {
  width: 50%;
}

.container > div {
  margin-inline-start: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
