.container {
  padding-top: 3rem;
  min-height: 7rem;
  background: #000;
  color: #fff;
  scroll-snap-align: start;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 -3px 15px #000;
}

.container > div {
  width: fit-content;
  margin-top: 2rem;
  font-size: larger;
}

.container span {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container span:hover {
  transform: scale(1.2);
}

.logo {
  width: 2rem;
  height: 2rem;
}

a,
a:active,
a:visited,
a:link {
  text-decoration: none;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social a {
  padding-inline: 2rem;
  border-inline-end: 1px solid #fff;
}

.social a:last-child {
  border: none;
}

.pdf {
  color: #fff;
  width: 1rem;
  height: 1rem;
}

.copy {
  padding-bottom: 0;
  padding-top: 4.5rem;
}

.copy p {
  font-size: smaller;
}

@media only screen and (max-width: 768px) {
  .social {
    flex-direction: column;
  }

  .social a {
    border: none;
    margin-block: 0.6rem;
  }
}
